<h1>Hey <%= @request.name %> !</h1>

<p>
  Please confirm your email address to join Workstation's waiting list by following <%= link_to "this link", confirm_url(token: @request.confirm_token)  %> !
</p>
